section input{
    width: 60%;
}

section img{
    width: 65%;
    border-radius: 15px;
}

section img:hover{
    transform: translateY(-1px);
}

section img:active{
    transform: translateY(1px);
}

section div:first-child{
    width: 55%;
}

section div:nth-child(2){
    width: 30%;
    margin-left: 0em;
}