/*Footer*/
footer{
    background-color: black;
    color: white;
    margin-top: -5px;
    text-align: center;
    bottom: 0;
    padding: 1em;
}

footer h6{   
    color: white; 
    padding: 0.5em;    
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    text-decoration: none;
    cursor: pointer;
}

footer h6:hover{
    text-decoration: underline;
}

footer a{
    display: block;
    font-size: 0.8em;
    color: white;
}

footer div button{
    border: none;
    background-color: inherit;
    padding: 0.8em;
}
/*End footer*/
