/*header*/
header{
    display: flex;
    padding: 1.2em;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    background-color: white;
}

.nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    padding: 1.5em;    
    background-color: white;
    color:black;
    font-size: 1.23em;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.288);
    z-index: 1;
}

/*Search box*/
.search-box{
    display: flex;
    gap: 0.5em;
}

.search-button{
    height: 3.15em;
    width: 20%;
    padding: 0.5em;
    background-color: #FBF71E;
    border: none;
    border-radius: 7px;
    border: 1px solid #FBF71E;
}

.search-bar{
    height: 2em;
    width: 65%;
    padding: 0.5em;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

/*Search box end*/

.nav-list{
    display: flex;
    flex-direction: column;
    gap: 2em;
    cursor: pointer;
}

.nav-list a{
    text-decoration: none;
    color: inherit;
}

.nav-list a:hover{
    text-decoration: underline;
    text-decoration-color: #FBF71E;
    text-decoration-thickness: 3px;
}

/*Propiety for JS*/ 
.nav.visible{
    opacity: 1;
    visibility: visible;
}

.close-menu{
    margin-left: -0.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
    color: #127FFF;
    background-color: inherit;
    border: none;
}

.close-menu:hover{
    color: #FBF71E;
}

h1 a{
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: 3.4em;
}

.buttons{
    display: flex;
    gap: 2em;
    color: black;
}

.buttons a{
    color: black;
}

.search, .shop-car, .login, .open-menu{
    font-size: 2em;
    color: black;
    font-weight: bold;
    background-color: inherit;
    border: none;
}

.search:hover, .shop-car:hover, .login:hover, .open-menu:hover{
    color:#127FFF;
}

.login-section{
    display: flex;
    flex-direction: row;    
    font-size: 0.8em;
    gap: 1.5em;
}

.login-section a{
    color: #127FFF;    
}

.login-section a:hover{
    color: #127FFF;
    text-decoration: underline;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    margin-bottom: 5em;
}

.social-media button{
    background-color: inherit;
    border: none;
    font-size: 1.5em;
}
/*header end*/

/*Adjustement for mobile*/ 
@media screen and (max-width: 800px) {
    .nav{
        width: 55%;
    }

    h1 a{
        font-size: 2em;
        margin-left: 1.8em;
    }

    .buttons{
        gap: 1em;
    }

    .login{
        display: none;
    }
    
    .search, .shop-car, .login, .open-menu{
        font-size: 1.5em;
    }

    .login-section{
        display: flex;
        flex-direction:column-reverse;   
        font-size: 0.8em;
        gap: 1em;
    }

    .social-media{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 1em;
        right: 25%;
        position: absolute;
        bottom: 0;
        margin-bottom: 5em;
    }
}