section{
    display: flex;
}

section input, form label{
    width: 60%;
}

section img{
    width: 70%;
    border-radius: 15px;
}

section img:hover{
    transform: translateY(-1px);
}

section img:active{
    transform: translateY(1px);
}

section div:first-child{
    width: 55%;
}

section div:nth-child(2){
    width: 30%;
    margin-left: 0em;
}

@media screen and (max-width: 800px) {
    section{
        display: flex;
        flex-direction: column;
        height: 75vh;
        margin-top: 1.5em;
    }

    section div:first-child{
        width: 90%;
        margin-left: 2em;
        margin-bottom: 2em;
    }
    
    section img{
        display: none;
    }

    section input{
        width: 90%;
        height: 3em;
    }

    section button{
        height: 3em;
        width: 50%;
        margin-bottom: 1em;
    }
}